$main-ff: 'Proda Pro';
$second-ff: 'Bebas Neue';
$two-ff: 'SF Pro Display';
$main-fz: 18px;
$second-fz: 16px;
$main-fw: 400;
$main-lh: 1.3;
$main-color: #fff;
$black: #111215;
$black-second: #171a23;
$gray-heading: #687077;
$gray-second: #d3d8df;
$hover: #e5002e;
$hover-link: #fa0836;
$hover-btn: #e5002e;
$color-btn: #dddfe2;

$caption-ff: 'Bebas Neue';
$caption-fz: 56px;
$caption-lh: 1.2;

$container-width: 1200px;