$main-ff: 'Proda Pro';
$second-ff: 'Bebas Neue';
$two-ff: 'SF Pro Display';
$main-fz: 18px;
$second-fz: 16px;
$main-fw: 400;
$main-lh: 1.3;
$main-color: #fff;
$black: #111215;
$black_second: #171a23;

$container-width: 1200px;