@@include("../blocks/modules/head/head.html", {
    "title": "Template"
})

<style>

    .row-template {
        margin: 20px 0;
        
    }

</style>


<div class="template">
    <div class="container">
        <div class="row-template">
            <a href="#" class="btn">отправить</a>
        </div>
    </div>
</div>
<div class="template">
    <div class="container">
        <div class="row-template">
            <a href="#" class="btn btn--color">отправить</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row-template">
        <input type="text" placeholder="Enter text">
    </div>

    <div class="row-template">
        <label class="checkbox">
            <input type="checkbox">
            <span>I'm checkbox</span>
        </label>
    </div>
    <div class="row-template">
        <label class="checkbox">
            <input type="checkbox" checked>
            <span>I'm checkbox</span>
        </label>
    </div>

    <div class="row-template">
        <label class="radio">
            <input type="radio" name="group" checked>
            <span>ЛЕГКОВАЯ</span>
        </label>
    </div>
    <div class="row-template">
        <label class="radio">
            <input type="radio" name="group">
            <span>ДЖИП</span>
        </label>
    </div>
    <div class="row-template">
        <label class="radio radio--other-radio">
            <input type="radio" name="group">
            <span>ДЖИП</span>
        </label>
    </div>
    <div class="row-template">
        <select>
            <option value="">Option 1</option>
            <option value="">Option 2</option>
            <option value="">Option 3</option>
            <option value="">Option 4</option>
            <option value="">Option 5</option>
        </select>
    </div>

@@include("../blocks/modules/foot/foot.html")
