button,
.btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: $color-btn;
    color: #767982;
    text-align: center;
    font-family: $main-ff;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    @include trs;

    &:hover {
        background-color: $hover-btn;
        color: $main-color;
    }
}
