button,
.btn {
    display: block;
    width: 100%;
    padding: 20px 0;
    border-radius: 3px;
    background-color: $bg-btn;
    text-align: center;
    font-family: $second-ff;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    @include trs;

    &:hover {
        background-color: $hover-btn;
    }
}
